<div class="modal fade" id="addAssociateModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Agregar Funcionarios</h4>
      </div>
      <div class="modal-body">
        <div class="section">
          <div class="container-fluid bodyContainer">
            <div class="container-fluid">
              <p>Asociados por agregar:</p>
              <text *ngFor="#associate of associatesToAdd">{{associate.nombre}} {{associate.apellidos}}; </text>
            </div><br>
            <input type="search" class="form-control" placeholder="Ingrese su búsqueda" style="float: center;text-align:center" #term (keyup)="search(term.value)">
            <center><div class='suggest-holder'>
              <ul>
                  <li *ngFor="#associate of tempAssociates" (click)="addTempAssociate(associate)">
                    <span class='suggest-name'>{{associate.nombre}}</span>
                    <span class='suggest-description'>{{associate.apellidos}}</span>
                  </li>
              </ul>
            </div></center>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" (click)="addAssociates()">Agregar</a>
        <a class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Cerrar</a>
      </div>
    </div>
  </div>
</div>
<Alert *ngIf="showMsg" [message]="message"></Alert>
