<div class="section">
  <div class="container">
    <div class="jumbotron" style="padding:0px">
      <div class="container-fluid">
        <h2 class="text-left">Cuenta
          <a class="btn btn-primary" style="margin-left: 10px;" *ngIf="false"(click)="edit()"><span class="glyphicon glyphicon-pencil"></span></a>
        </h2>
      </div>
      <hr>
      <div class="section">
        <div class="container-fluid">
          <form role="form" (ngSubmit)="onSubmit()" #accountForm="ngForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="name">Nombre</label>
                  <input class="form-control" type="text" [readonly]="!isEditing" [(ngModel)]="_Associate.nombre" required>
                </div>
                <div class="form-group">
                  <label class="control-label" for="lastNames">Apellidos</label>
                  <input class="form-control" type="text" [readonly]="!isEditing" [(ngModel)]="_Associate.apellidos" required>
                </div>
                <div class="form-group">
                  <label class="control-label" for="email">Correo Institucional</label>
                  <input class="form-control" type="email" [readonly]="!isEditing" [(ngModel)]="_Associate.correo_institucional" required>
                </div>
              </div>
              <div class="col-md-6">

                <div class="form-group">
                  <label class="control-label" for="password">Contraseña</label>
                  <input class="form-control" type="password" [readonly]="!isEditing" [(ngModel)]="_User.contrasena" required>
                </div>
                <div class="form-group">
                  <label class="control-label" for="repeatedPassword">Repetir contraseña</label>
                  <input class="form-control" type="password" [readonly]="!isEditing" required>
                </div>
              </div>
            </div>
            <a class="btn btn-danger" style="float: right;margin-left: 15px;" [style.display]="isEditing ? '' : 'None'" (click)="cancel()">Cancelar</a>
            <button type="submit" class="btn btn-success" style="float: right
            ;" [style.display]="isEditing ? '' : 'None'" >Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
