<div class="section" [style.opacity]="isLoading ? '0' : '1' ">
  <div class="container-fluid">
    <h2>Invitados
      <a class="btn btn-primary" data-toggle="modal" data-target="#addAssociateModal" style="float: right;">Agregar funcionario</a>
      <a class="btn btn-primary" data-toggle="modal" data-target="#GroupModal" style="float: right;margin-right:20px">Agregar grupo</a>
    </h2>
    <hr>
    <div class="container-fluid">
      <div class="col-md-12">
        <div class="section">
          <div class="col-md-12">
            <div class="col-md-offset-2 col-md-6">
              <input type="text" class="form-control" placeholder="Ingrese su búsqueda" [(ngModel)]="searchTerm" (keyup)="onStateChanged()">
            </div>
            <div class="col-md-2">
              <span class="input-group-btn">
                <select #categorySelect class="form-control" (change) = "onCategoryChanged(categorySelect.value)">
                  <option [value]="0">Todos</option>
                  <option [value]="1">Confirmados</option>
                  <option [value]="2">Por confirmar</option>
                </select>
              </span>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="container-fluid">
            <p>Mostrando {{tempAssociates.length}} resultados</p>
            <div class="col-md-4 "*ngFor="#associate of tempAssociates">
              <div class="jumbotron associateContainer">
                <div class="container">
                  <div class="col-md-4" style="margin-top:15px">
                    <a (click)="goToAssociate(associate)"><img src="http://{{associate.foto}}" class="img-circle " style="width:60px; height:60px"></a>
                  </div>
                  <div class="col-md-8">
                    <button style="float:right; margin-top:10px;margin-right:-15px;;" class="btn btn-default btn-sm" type="button" (click)="deleteAssociate(associate.codigo_usuario)">
                      <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <a (click)="goToAssociate(associate)">
                      <h3 class="text-left" style="font-size:22px">{{associate.nombre}}</h3>
                      <p class="text-left" style="color:black; font-size:16px">{{associate.apellidos}}</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<loading *ngIf="isLoading"></loading>
<groupAdd [component]="component"></groupAdd>
<associateAdd [component]="component"></associateAdd>
<Alert *ngIf="showMsg" [message]="message"></Alert>
