<div class="modal fade" id="GroupModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Agregar Grupos</h4>
      </div>
      <div class="modal-body">
        <div class="checkbox" *ngFor="#group of _Groups">
          <label>
            <input type="checkbox" [checked]="group.state" (click)="changeState(group)" >{{group.descripcion_grupo}}</label>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" (click)="addGroups()">Agregar</a>
        <a class="btn btn-default" data-dismiss="modal">Cerrar</a>
      </div>
    </div>
  </div>
</div>
<Alert *ngIf="showMsg" [message]="message"></Alert>
