<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/app/events"><img class=".img-thumbnail"src="images/logoAPROTEC.gif"></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li [class.active]="isRouteActive('Events')">
            <a [routerLink]="['Events']">Eventos</a>
          </li>
          <li [class.active]="isRouteActive('Groups')">
            <a [routerLink]="['Groups']">Grupos</a>
          </li>
          <li [class.active]="isRouteActive('Associates')">
            <a [routerLink]="['Associates']">Asociados</a>
          </li>
          <li [class.active]="isRouteActive('Forms')">
            <a [routerLink]="['Forms']">Encuestas</a>
          </li>
          <li [class.active]="isRouteActive('Documents')">
            <a [routerLink]="['Documents']">Documentos</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuración <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <a [routerLink]="['Account']">Cuenta</a>
              </li>
              <li *ngIf="isSuperUser" >
                <a [routerLink]="['Managers']">Administradores</a>
              </li>
              <li>
                <a (click)="logOut()">Salir</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>
