<div class="section">
  <div class="container-fluid">
    <h2>Invitados</h2>
    <hr>
    <div class="section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="container-fluid">
              <h2>Grupos
                <a class="btn btn-primary" data-toggle="modal" data-target="#GroupModal" style="float: right;">Agregar grupo</a>
              </h2>
              <div class="section">
                <div class="container-fluid">
                  <div class="col-md-6">
                    <div class="jumbotron groupContainer">
                      <div class="container-fluid">
                        <h3>Grupo
                          <button class="btn btn-danger" style="float: right;" type="button">
                            <span class="	glyphicon glyphicon-trash"></span>
                          </button>
                        </h3>
                        <p style="font-size:15px;">Cantidad de personas:</p>
                        <div class="container-fluid"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6" style="margin-top:15px;">
                    <div class="jumbotron" style="padding:0px;border-style: ridge;">
                      <div class="container-fluid">
                        <h3>Grupo
                          <button class="btn btn-danger" style="float: right;" type="button">
                            <span class="	glyphicon glyphicon-trash"></span>
                          </button>
                        </h3>
                        <p style="font-size:15px;">Cantidad de personas:</p>
                        <div class="container-fluid"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6" style="margin-top:15px;">
                    <div class="jumbotron" style="padding:0px;border-style: ridge;">
                      <div class="container-fluid">
                        <h3>Grupo
                          <button class="btn btn-danger" style="float: right;" type="button">
                            <span class="glyphicon glyphicon-trash"></span>
                          </button>
                        </h3>
                        <p style="font-size:15px;">Cantidad de personas:</p>
                        <div class="container-fluid"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="container-fluid">
              <h2>Asociados
                <a class="btn btn-primary" data-toggle="modal" data-target="#addAssociateModal" style="float: right;">Agregar funcionario</a>
              </h2>
              <div class="section">
                <div class="container-fluid">
                  <div class="col-md-4 ">
                    <div class="jumbotron associateContainer">
                      <div class="container">
                        <div class="col-md-4" style="margin-top:15px">
                          <a href="funcionario.html"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="img-circle img-responsive"></a>
                        </div>
                        <div class="col-md-8">
                          <button style="float:right; margin-top:10px;margin-right:-15px;;" class="btn btn-default btn-sm" type="button">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                          <a href="funcionario.html">
                      <h3 class="text-left" style="font-size:22px">John Doe</h3>
                      <p class="text-left" style="color:black; font-size:16px">Profesion</p>
                       </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4" style="margin-top:20px">
                    <div class="jumbotron" style="padding:0px">
                      <div class="container">
                        <div class="col-md-4" style="margin-top:15px">
                          <a href="funcionario.html"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="img-circle img-responsive"></a>
                        </div>
                        <div class="col-md-8">
                          <button style="float:right; margin-top:10px;margin-right:-15px;;" class="btn btn-default btn-sm" type="button">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                          <a href="funcionario.html">
                      <h3 class="text-left" style="font-size:22px">John Doe</h3>
                      <p class="text-left" style="color:black; font-size:16px">Profesion</p>
                       </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4" style="margin-top:20px">
                    <div class="jumbotron" style="padding:0px">
                      <div class="container">
                        <div class="col-md-4" style="margin-top:15px">
                          <a href="funcionario.html"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="img-circle img-responsive"></a>
                        </div>
                        <div class="col-md-8">
                          <button style="float:right; margin-top:10px;margin-right:-15px;;" class="btn btn-default btn-sm" type="button">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                          <a href="funcionario.html">
                      <h3 class="text-left" style="font-size:22px">John Doe</h3>
                      <p class="text-left" style="color:black; font-size:16px">Profesion</p>
                       </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4" style="margin-top:20px">
                    <div class="jumbotron" style="padding:0px">
                      <div class="container">
                        <div class="col-md-4" style="margin-top:15px">
                          <a href="funcionario.html"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="img-circle img-responsive"></a>
                        </div>
                        <div class="col-md-8">
                          <button style="float:right; margin-top:10px;margin-right:-15px;;" class="btn btn-default btn-sm" type="button">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                          <a href="funcionario.html">
                      <h3 class="text-left" style="font-size:22px">John Doe</h3>
                      <p class="text-left" style="color:black; font-size:16px">Profesion</p>
                       </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4" style="margin-top:20px">
                    <div class="jumbotron" style="padding:0px">
                      <div class="container">
                        <div class="col-md-4" style="margin-top:15px">
                          <a href="funcionario.html"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="img-circle img-responsive"></a>
                        </div>
                        <div class="col-md-8">
                          <button style="float:right; margin-top:10px;margin-right:-15px;;" class="btn btn-default btn-sm" type="button">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                          <a href="funcionario.html">
                      <h3 class="text-left" style="font-size:22px">John Doe</h3>
                      <p class="text-left" style="color:black; font-size:16px">Profesion</p>
                       </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<groupAdd></groupAdd>
<associateAdd></associateAdd>
