<div class="section">
  <div class="container-fluid">
    <h2>Documentos
      <a class="btn btn-primary" style="float: right;" data-toggle="modal" data-target="#addDocumentModal"><span class="glyphicon glyphicon-upload"></span> Agregar documento</a>
    </h2>
    <hr>
    <div class="container-fluid">
      <div class="col-md-6">
        <div class="jumbotron documentContainer" >
          <div class="container-fluid">
            <h3>Nombre del Archivo
              <button class="btn btn-danger" style="float: right;" type="button">Eliminar</button>
            </h3>
            <div class="section">
              <p style="font-size:15px;">Descripción</p>
            </div>
            <div class="container-fluid">
              <h5 class="text-right" style="float:right;">3 de marzo del 2016</h5>
              <button type="button" class="btn btn-primary" style="float:left;">
                <span class="glyphicon glyphicon-download-alt"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="jumbotron" style="padding:0px;border-style: ridge;">
          <div class="container-fluid">
            <h3>Nombre del Archivo
              <button type="button" class="btn btn-danger" style="float: right;">Eliminar</button>
            </h3>
            <div class="section">
              <p style="font-size:15px;">Descripción</p>
            </div>
            <div class="container-fluid">
              <h5 class="text-right" style="float:right;">3 de marzo del 2016</h5>
              <button type="button" class="btn btn-primary" style="float:left;">
                <span class="glyphicon glyphicon-download-alt"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<documentAdd></documentAdd>
