<div class="section">
  <div class="container-fluid">
    <h2>Invitados</h2>
    <hr>
    <div class="section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="container-fluid">
              <h2>Asociados
                <a class="btn btn-primary" data-toggle="modal" data-target="#addAssociateModal" style="float: right;">Agregar funcionario</a>
                <a class="btn btn-primary" data-toggle="modal" data-target="#GroupModal" style="float: right;margin-right:20px">Agregar grupo</a>
              </h2>
              <div class="section">
                <div class="container-fluid">
                  <div class="col-md-4 "*ngFor="#associate of _Associates">
                    <div class="jumbotron associateContainer" (click)="goToAssociate(associate)">
                      <div class="container">
                        <div class="col-md-4" style="margin-top:15px">
                          <a><img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="img-circle img-responsive"></a>
                        </div>
                        <div class="col-md-8">
                          <button style="float:right; margin-top:10px;margin-right:-15px;;" class="btn btn-default btn-sm" type="button">
                            <span class="glyphicon glyphicon-remove"></span>
                          </button>
                          <h3 class="text-left" style="font-size:22px">{{associate.nombre}}</h3>
                          <p class="text-left" style="color:black; font-size:16px">{{associate.apellidos}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<groupAdd></groupAdd>
<associateAdd></associateAdd>
