<div class="section">
  <div class="container-fluid">
    <h2>Responsables
      <a class="btn btn-primary" data-toggle="modal" data-target="#GroupModal" style="float: right;">Agregar responsable</a>
    </h2>
    <hr>
    <div class="section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="container-fluid">
              <div class="section">
                <div class="container-fluid">
                  <div class="col-md-6">
                    <div class="jumbotron maangerContainer">
                      <div class="container-fluid">
                        <h3>Responsable
                          <button class="btn btn-danger" style="float: right;" type="button">
                            <span class="	glyphicon glyphicon-trash"></span>
                          </button>
                        </h3>
                        <p style="font-size:15px;">Puesto:</p>
                        <div class="container-fluid"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6" style="margin-top:15px;">
                    <div class="jumbotron" style="padding:0px;border-style: ridge;">
                      <div class="container-fluid">
                        <h3>Responsable
                          <button class="btn btn-danger" style="float: right;" type="button">
                            <span class="	glyphicon glyphicon-trash"></span>
                          </button>
                        </h3>
                        <p style="font-size:15px;">Puesto:</p>
                        <div class="container-fluid"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="jumbotron maangerContainer">
                      <div class="container-fluid">
                        <h3>Responsable
                          <button class="btn btn-danger" style="float: right;" type="button">
                            <span class="glyphicon glyphicon-trash"></span>
                          </button>
                        </h3>
                        <p style="font-size:15px;">Puesto:</p>
                        <div class="container-fluid"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
