<div class="section" [style.opacity]="isLoading ? '0' : '1' ">
  <div class="container-fluid" >
    <div class="col-md-2 filter-column">
      <div class="jumbotron filterContainer">
        <h3 style="text-align:center">Filtros</h3>
        <hr><br>
        <label class="control-label" for="headquarters">Sede</label>
        <select #sedeSelect class="form-control" (change) = "onSedeChanged(sedeSelect.value)">
          <option [value]="-1" selected>Todos</option>
          <option *ngFor="#sede of sedes" [value]="sede.codigo_sede">{{sede.nombre_sede}}</option>
        </select>
        <br>
        <label class="control-label" for="departmentName">Departamento</label>
        <select #departmentSelect class="form-control" (change) = "onDepartmentChanged(departmentSelect.value)">
          <option [value]="-1" selected>Todos</option>
          <option *ngFor="#department of departments" [value]="department.codigo_departamento">{{department.nombre_departamento}}</option>
        </select>
        <br>
        <label class="control-label" for="departmentName">Subdepartamento</label>
        <select #subDepartmentSelect class="form-control" (change) = "onSubDepartmentChanged(subDepartmentSelect.value)">
          <option [value]="-1" selected></option>
          <option *ngFor="#subDepartment of subDepartments" [value]="subDepartment.codigo_sub_departamento">{{subDepartment.nombre_sub_departamento}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-10" style="padding-left:0px; padding-right:50px">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Asociados</h1>
        </div>
      </div>
      <div class="section">
        <div class="container-fluid">
          <div class="row">
            <a class="btn btn-primary" data-toggle="modal" data-target="#newAssociateModal"style="float: right;">Registrar nuevo asociado</a>
          </div>
          <div class="row text-center">
            <div class="container" style="max-width:600">
              <input  [(ngModel)]="searchTerm"  type="search" placeholder="Ingrese su búsqueda" style="float: center;text-align:center;" class="form-control" #term (keyup)="onStateChanged()">
            </div>
          </div>
          <div class="row">
            <center>
              <a class="btn btn-success" (click)="exportExcel()" style="float: right; margin-right:30px">Exportar excel</a>
            </center>
          </div>
        </div>
        <div class="container-fluid">
          <div class="col-md-12">
            <div class="section">
              <div class="container-fluid">
                <p>Mostrando {{tempAssociates.length}} resultados</p>
                <div *ngFor="#associate of tempAssociates" class="col-md-3">
                  <div class="section">
                    <div class="container-fluid associateContainer" >
                      <a (click)="goToAssociate(associate)"><img src="http://{{associate.foto}}" class="center-block img-circle img-responsive" style="width:160;max-height:160px;" href="Funcionario.html">
                      <h3 class="text-center">{{associate.nombre}}</h3>
                      <p class="text-center">{{associate.apellidos}}</p></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<loading *ngIf="isLoading"></loading>
<associateNew></associateNew>
