<div class="section">
  <div class="container-fluid">
    <h2>Comentarios&nbsp;</h2>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="jumbotron commentContainer">
            <div class="container-fluid">
              <div class="col-md-3">
                <img src="images/user.png" class="center-block img-circle img-responsive" style="margin-bottom:-25px; width:120px; height:120px;">
                <h3 class="text-center">John Doe</h3>
                <h4 class="text-center">Developer</h4>
              </div>
              <div class="col-md-9">
                <h3 class="text-left">"Gran agradecimiento"</h3>
                <br>
                <p class="text-justify" style="margin-right:-30px;font-size:16">Simplemente debo agradecer a la asociación por la dedicación y esmero
                  con que desarrollan este tipo de actividades. El baile del asociado estuvo
                  increíble. La Orquesta Son de Tiquicia amenizó el evento poniéndonos a
                  bailar. Mi único comentario constructivo es que se podría dar la opción
                  de invitados por un costo adicional.</p>
                <h5 class="text-right" style="margin-right:-30px">3 de marzo del 2016</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row" style="margin-top:20">
          <div class="jumbotron" style="padding-top:0px;padding-bottom:0px; padding-left:0">
            <div class="container">
              <div class="col-md-3">
                <img src="images/user.png" class="center-block img-circle img-responsive" style=" margin-bottom:-25px; width:120px; height:120px;">
                <h3 class="text-center">John Doe</h3>
                <h4 class="text-center">Developer</h4>
              </div>
              <div class="col-md-9">
                <h3 class="text-left">"Gran agradecimiento"</h3>
                <br>
                <p class="text-justify" style="margin-right:-30px;font-size:16">Simplemente debo agradecer a la asociación por la dedicación y esmero
                  con que desarrollan este tipo de actividades. El baile del asociado estuvo
                  increíble. La Orquesta Son de Tiquicia amenizó el evento poniéndonos a
                  bailar. Mi único comentario constructivo es que se podría dar la opción
                  de invitados por un costo adicional.</p>
                <h5 class="text-right" style="margin-right:-30px">3 de marzo del 2016</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
