<html>
	<head>
		<title>APROTEC</title>
		<script type="text/javascript" src="../../../../bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="../../../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<link href="../../../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="../../../../pingendo-styles.css" rel="stylesheet" type="text/css">
		<link href="../../../assets/styles/main.css" rel="stylesheet" type="text/css">
	</head>
	<body ng-app="fileUploadEvent">
		<nav class="navbar navbar-default">
		    <div class="container-fluid">
		      <div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		          <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand" href="../../../../admin/account"><img class=".img-thumbnail"src="../../../../images/logoAPROTEC.gif"></a>
		      </div>
		      <div class="collapse navbar-collapse">
		        <ul class="nav navbar-nav">
		          <li >
		            <a href="../../../../admin/events">Eventos</a>
		          </li>
		          <li>
		            <a href="../../../../admin/associates">Asociados</a>
		          </li>
		          <li>
		            <a href="../../../../admin/groups">Grupos</a>
		          </li>
		          <li>
		            <a href="../../../../admin/groups">Encuestas</a>
		          </li>
		          <li>
		            <a href="../../../../admin/documents">Documentos</a>
		          </li>
		        </ul>
		        <ul class="nav navbar-nav navbar-right">
		          <li class="dropdown">
		            <a  class="dropdown-toggle" data-toggle="dropdown">Configuración <span class="caret"></span></a>
		            <ul class="dropdown-menu">
		              <li>
		                <a href="../../../../admin/account">Cuenta</a>
		              </li>
		              <li>
		                <az>Salir</a>
		              </li>
		            </ul>
		          </li>
		        </ul>
		      </div>
		    </div>
		  </nav>


		<div class="section">
			<div class = "container">
				<div class = "jumbotron">
					<h2 style="color:black">Nuevo documento</h2>
					<div class="section">
		        <form ng-controller="MyCtrlEvent as up" name="up.upload_form">
							<div class="form-group">
		            <label class="control-label" for="documentName">Nombre</label>
		            <input class="form-control"  type="text" ng-model="up.nombre" name="nombre" required>

		          </div>
		          <div class="form-group">
								<label for="singleSelect"> Seleccione el evento: </label><br>
								 <select name="singleSelect" id="singleSelect" ng-model="data.selectValue">
									 <option ng-repeat="option in data.availableOptions" value="{{option.codigo_evento}}">{{option.nombre}}</option>
								 </select>
		          </div>
		          <div class="form-group">
								<input type="file" ngf-select ng-model="up.file"name="file" ngf-pattern="'.pdf'" accept=".pdf" ngf-max-size="20MB" />
								<i ng-show="up.upload_form.file.$error.required">*required</i><br>
		            <i ng-show="up.upload_form.file.$error.maxSize">File too large
		            {{up.file.size / 1000000|number:1}}MB: max 20M</i>
		          </div>
		          <button class ="btn btn-primary" type="submit" ng-click="up.submit()" style="float:right">Agregar documento</button>
		          <p style="color:black">{{up.progress}}</p>
		        </form>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
	<script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
	<script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script>
	<script type="text/javascript" src="event-document-add.js"></script>
</html>
