<div class="modal fade" id="addAssociateModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Agregar Funcionarios</h4>
      </div>
      <div class="modal-body">
        <div class="section">
          <div class="container-fluid bodyContainer">
              <input type="search" class="form-control" placeholder="Ingrese su búsqueda" style="float: center;text-align:center" data-placement="bottom" autocomplete="on">
              <div class='suggest-holder'>
                <ul>
                    <li>
                        <span class='suggest-name'>Michael</span>
                        <span class='suggest-description'>The Writer</span>
                    </li>
                    <li>
                        <span class='suggest-name'>Ben</span>
                        <span class='suggest-description'>The Other Writer</span>
                    </li>
                    <li>
                        <span class='suggest-name'>Ben</span>
                        <span class='suggest-description'>The CodeIgniter Writer</span>
                    </li>
                </ul>
              </div>
          </div>
        </div>
        <div class="container-fluid">
          <textarea id="mytext" class="form-control"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal">Cerrar</a>
        <a class="btn btn-primary">Agregar</a>
      </div>
    </div>
  </div>
</div>
