<div class="section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <div class="container">
            <div class="jumbotron" style="background-color:white; border-radius: 30px; ">
              <h2>
                <center>Nuevo Funcionario</center>
              </h2>
            </div>
          </div>
          <div class="container-fluid">
            <form role="form">
              <div class="section">
                <div class="container">
                  <div class="row">
                    <h2>Datos Personales</h2>
                    <hr>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label" for="exampleInputName">Nombre</label>
                        <input class="form-control" id="exampleInputName" placeholder="Nombre" type="text">
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="exampleInputName">Primer Apellido</label>
                        <input class="form-control" id="exampleInputName" placeholder="Primer Apellido" type="text">
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="exampleInputName">Segundo Apellido</label>
                        <input class="form-control" id="exampleInputName" placeholder="Segundo Apellido" type="text">
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="exampleInputEmail">Correo Institucional</label>
                        <input class="form-control" id="exampleInputEmail" placeholder="Institucional" type="email">
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="exampleInputPassword">Contraseña</label>
                        <input class="form-control" id="exampleInputPassword" placeholder="Contraseña" type="password">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label" for="exampleInputProffession">Identificación</label>
                        <input class="form-control" id="exampleInputProffesion" placeholder="Identificación" type="text">
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="exampleInputOrigin">Origen</label>
                        <input class="form-control" id="exampleInputOrigin" placeholder="Origen" type="text">
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="exampleInputOrigin">Número de Extensión</label>
                        <input class="form-control" id="exampleInputOrigin" placeholder="Número de Extensión" type="text">
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="exampleInputOrigin">Correo Personal</label>
                        <input class="form-control" id="exampleInputOrigin" placeholder="Correo Personal" type="email">
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="exampleInputPassword">Repetir Contraseña</label>
                        <input class="form-control" id="exampleInputPassword" placeholder="Contraseña" type="password">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container">
                  <div class="row">
                    <h2>Ámbito Laboral</h2>
                    <hr>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label" for="exampleInputProffesion">Profesión</label>
                        <input class="form-control" id="exampleInputProffesion" type="text" placeholder="Profesión">
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="exampleInputArea">Área administrativa</label>
                        <input class="form-control" id="exampleInputArea" type="text" placeholder="Área administrativa">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label" for="exampleInputID">Grado Académico</label>
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle form-control" type="button" data-toggle="dropdown" style="text-align: left">Licenciatura
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li>
                              <a href="#">Postgrado</a>
                            </li>
                            <li>
                              <a href="#">Licenciatura</a>
                            </li>
                            <li>
                              <a href="#">Bachiller</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label" for="exampleInputOrigin">Fecha de ingreso</label>
                        <input class="form-control" id="exampleInputOrigin" type="date" style="color:black;">
                      </div>
                    </div>
                  </div>
                  <div class="container">
                    <div class="row">
                      <h2>Gustos y Preferencias</h2>
                      <hr>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label" for="exampleInputName">...</label>
                          <input class="form-control" id="exampleInputName" placeholder="..." type="text">
                        </div>
                        <label class="checkbox-inline" style="font-size:18px">
                          <input type="checkbox" value="" checked="" style="width:20px;height:18px;">Vegetarianos</label>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label" for="exampleInputOrigin">...</label>
                          <input class="form-control" id="exampleInputOrigin" placeholder="..." type="text">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <row>
                <center>
                  <button type="submit" class="btn btn-primary">Crear funcionario</button>
                </center>
              </row>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
