<div class="section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <row>
          <h1 class="text-center">Grupos</h1>
        </row>
        <div class="section">
          <div class="container">
            <div class="row">
              <a class="btn btn-primary" style="float: right;" data-toggle="modal" data-target="#newGroupModal">Crear nuevo grupo</a>
            </div>
            <div class="row text-center">
              <div class="container" style="max-width:600">
                <input type="search" placeholder="Ingrese su búsqueda" style="float: center;text-align:center;" class="form-control" #term (keyup)="search(term.value)">
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="col-md-4 groupContainer" style="padding-top:20px;" *ngFor="#group of tempGroups">
            <a (click)="goToGroup(group.codigo_grupo)">
              <div class="jumbotron" style="padding-top:10px;padding-bottom:10px">
                <h3>{{group.descripcion_grupo}}</h3>
                <div clas="row" style=" color:black;">
                  <p style="font-size:16px;">0 personas</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<groupNew></groupNew>
