<div class="section">
  <div class="container-fluid">
    <h2>Información General
      <a class="btn btn-primary" style="margin-left: 10px;" (click)="edit()"><span class="glyphicon glyphicon-pencil"></span></a>
      <a class="btn btn-danger " style="margin-left: 10px;float:right">Eliminar</a>
      <a class="btn btn-info" data-toggle="modal" data-target="#myModal" style="float: right;">Enviar notificación</a>
    </h2>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <div class="container">
            <form role="form" (ngSubmit)="onSubmitEventData()" #eventForm="ngForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label" for="name">Nombre</label>
                    <input class="form-control" type="text" [(ngModel)]="_Event.nombre" [readonly]="!isEditing" required>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="date">Fecha</label>
                    <input class="form-control" type="datetime-local" [(ngModel)]="_Event.fecha_hora" [readonly]="!isEditing" required>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="budgetedAmount">Monto Presupuestado</label>
                    <input class="form-control"  type="text" [(ngModel)]="_Event.budgetedAmount" [readonly]="!isEditing">
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="realCost">Costo Real</label>
                    <input class="form-control "  type="text" [(ngModel)]="_Event.realCost"  [readonly]="!isEditing">
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="place">Lugar</label>
                    <textarea class="form-control" type="text" [(ngModel)]="_Event.lugar" [readonly]="!isEditing" required></textarea>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="type">Tipo</label>
                    <select class="form-control" [disabled]="!isEditing">
                      <option *ngFor="#type of eventTypes" [value]="type" >{{type.descripcion}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="capacity">Cantidad de acompañantes máximo</label>
                    <input class="form-control"  type="number" [(ngModel)]="_Event.numero_maximo_acompanantes"  [readonly]="!isEditing" required>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="confirmedParticipants">Participantes Confirmados</label>
                    <input class="form-control" type="text" [(ngModel)]="_Event.confirmedParticipants" [readonly]="true">
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="presentedParticipants">Participantes Presentados</label>
                    <input class="form-control"  type="text" [(ngModel)]="_Event.presentedParticipants" [readonly]="!isEditing">
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="description">Descripción</label>
                    <textarea class="form-control" type="text" [(ngModel)]="_Event.descripcion" [readonly]="!isEditing" required></textarea>
                  </div>
                </div>
              </div>
              <button class="btn btn-danger" style=" float: right;margin-left: 15px;" [style.display]="isEditing ? '' : 'None'" (click)="cancelEdit()">Cancelar</button>
              <button type="submit" class="btn btn-success" style=" float: right;" [style.display]="isEditing ? '' : 'None'">Guardar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
<emailModal></emailModal>
