<div class="modal fade" id="passwordResetModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form role="form"  (ngSubmit)="sendEmail(email.value)" #passwordResetForm="ngForm">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="modal-title">Recuperación de contraseña</h3>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label" for="exampleInputEmail1">Correo Institucional</label>
            <input #email class="form-control" id="institutionalEmail" type="text" [(ngModel)]="_Email">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Aceptar</button>
          <a class="btn btn-default" data-dismiss="modal">Cerrar</a>
        </div>
      </form>
    </div>
  </div>
</div>
<Alert *ngIf="showMsg" [message]="message"></Alert>
