<div class="modal fade" id="GroupModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Agregar Grupos</h4>
      </div>
      <div class="modal-body">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">Grupo 1</label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">Grupo 2</label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">Grupo 3</label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">Grupo 4</label>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal">Cerrar</a>
        <a class="btn btn-primary">Agregar</a>
      </div>
    </div>
  </div>
</div>
