<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section">
          <div class="col-md-12">
            <h1>Nombre del grupo
              <a class="btn btn-primary" style="margin-left: 10px;"><span class="glyphicon glyphicon-pencil"></span></a>
              <a class="btn btn-danger" style="margin-left: 10px;"><span class="glyphicon glyphicon-trash"></span></a>
            </h1>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-12">
    <div class="container">
      <h2>Miembros
        <a class="btn btn-primary" style="float:right" data-toggle="modal" data-target="#addAssociateModal">Agregar funcionario</a>
      </h2>
      <div class="section">
        <div class="container-fluid">
          <div class="col-md-4" style="margin-top:20px">
            <div class="jumbotron" style="padding:0px">
              <div class="container">
                <div class="col-md-4" style="margin-top:10px">
                  <a href="funcionario.html"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="img-circle img-responsive"></a>
                </div>
                <div class="col-md-8">
                  <button style="float:right; margin-top:10px;margin-right:-15px;;" class="btn btn-default btn-sm" type="button">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                  <a href="funcionario.html">
                                    <h3 class="text-left" style="font-size:22px">John Doe</h3>
                                    <p class="text-left" style="color:black; font-size:16px">Profesion</p>
                                     </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="margin-top:20px">
            <div class="jumbotron" style="padding:0px">
              <div class="container">
                <div class="col-md-4" style="margin-top:10px">
                  <a href="funcionario.html"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="img-circle img-responsive"></a>
                </div>
                <div class="col-md-8">
                  <button style="float:right; margin-top:10px;margin-right:-15px;;" class="btn btn-default btn-sm" type="button">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                  <a href="funcionario.html">
                                    <h3 class="text-left" style="font-size:22px">John Doe</h3>
                                    <p class="text-left" style="color:black; font-size:16px">Profesion</p>
                                     </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="margin-top:20px">
            <div class="jumbotron" style="padding:0px">
              <div class="container">
                <div class="col-md-4" style="margin-top:10px">
                  <a href="funcionario.html"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="img-circle img-responsive"></a>
                </div>
                <div class="col-md-8">
                  <button style="float:right; margin-top:10px;margin-right:-15px;;" class="btn btn-default btn-sm" type="button">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                  <a href="funcionario.html">
                                    <h3 class="text-left" style="font-size:22px">John Doe</h3>
                                    <p class="text-left" style="color:black; font-size:16px">Profesion</p>
                                     </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="margin-top:20px">
            <div class="jumbotron" style="padding:0px">
              <div class="container">
                <div class="col-md-4" style="margin-top:10px">
                  <a href="funcionario.html"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="img-circle img-responsive"></a>
                </div>
                <div class="col-md-8">
                  <button style="float:right; margin-top:10px;margin-right:-15px;;" class="btn btn-default btn-sm" type="button">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                  <a href="funcionario.html">
                                    <h3 class="text-left" style="font-size:22px">John Doe</h3>
                                    <p class="text-left" style="color:black; font-size:16px">Profesion</p>
                                     </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="margin-top:20px">
            <div class="jumbotron" style="padding:0px">
              <div class="container">
                <div class="col-md-4" style="margin-top:10px">
                  <a href="funcionario.html"><img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="img-circle img-responsive"></a>
                </div>
                <div class="col-md-8">
                  <button style="float:right; margin-top:10px;margin-right:-15px;;" class="btn btn-default btn-sm" type="button">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                  <a href="funcionario.html">
                                    <h3 class="text-left" style="font-size:22px">John Doe</h3>
                                    <p class="text-left" style="color:black; font-size:16px">Profesion</p>
                                     </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<associateAdd></associateAdd>
