<div class="section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <row>
          <h1 class="text-center">Grupos</h1>
        </row>
        <div class="section">
          <div class="container">
            <div class="row">
              <a class="btn btn-primary" style="float: right;" data-toggle="modal" data-target="#newGroupModal">Crear nuevo grupo</a>
            </div>
            <div class="row text-center">
              <div class="container" style="max-width:600">
                <input type="search" placeholder="Ingrese su búsqueda" style="float: center;text-align:center;" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="col-md-4 groupContainer" style="padding-top:20px;" >
            <a (click)="goToGroup()">
            <div class="jumbotron" style="padding-top:10px;padding-bottom:10px">

              <h3>Grupo</h3>
              <div clas="row" style=" color:black;">
                <p style="font-size:16px;">Cantidad de personas:</p>
              </div>

            </div>
            </a>
          </div>
          <div class="col-md-4" style="padding-top:20px;">
            <a href="group.html">
            <div class="jumbotron" style="padding-top:10px;padding-bottom:10px">

              <h3>Grupo</h3>
              <div clas="row" style=" color:black;">
                <p style="font-size:16px;">Cantidad de personas:</p>
              </div>

            </div>
            </a>
          </div>
          <div class="col-md-4" style="padding-top:20px;">
            <a href="group.html">
            <div class="jumbotron" style="padding-top:10px;padding-bottom:10px">

              <h3>Grupo</h3>
              <div clas="row" style=" color:black;">
                <p style="font-size:16px;">Cantidad de personas:</p>
              </div>

            </div>

            </a>
          </div>
          <div class="col-md-4" style="padding-top:20px;">
            <a href="group.html">
            <div class="jumbotron" style="padding-top:10px;padding-bottom:10px">

              <h3>Grupo</h3>
              <div clas="row" style=" color:black;">
                <p style="font-size:16px;">Cantidad de personas:</p>
              </div>

            </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<groupNew></groupNew>
